
.body {
	background-color:#f6f9f6;

}
.jumbotron {
	height:500px;
	background-image: url('images/woodsy-branch.jpg');
	background-repeat:no-repeat;
	background-color: #f5f9fa
}
.jumbotron h1{
	color: #f5f9fa;
	font-family:'Playfair Display SC', serif;
	font-size: 70px;
}
.jumbotron p {
	color: #f5f9fa;
	font-size:20px;
}
.nav {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;	
    list-style: none;
}
.nav a {
	color: #645351;
	font-family:'Playfair Display SC', serif;
	font-size: 20px	;
	font-weight: bold;
	padding-top:20 px;
	padding-bottom:20px;
	padding-left:10px;
	padding-right:10px;
	text-transform:uppercase;
}